@charset "UTF-8";
/**
 * CSS BY Matt Eastwood
 * ----------------------
 */
:root {
  --bbui-row-color: #5fb238;
  --bbui-row-color-hover: #8ac171;
  --bbui-column-color: #00A0D2;
  --bbui-column-color-hover: #00A0D2;
  --bbui-module-color: #d2005f;
  --bbui-module-color-hover: #e05292;
  --bbui-module-bgcolor: #e0529230;
  --bbui-empty-col-highlight-bgcolor: rgba(0, 160, 210, 0.1);
  --bbui-nested-col-parent-border-color: rgba(0, 160, 210, 0.5);
  --bbui-outline-width: 2px;
  --bbui-module-hover-opacity: .4;
}

body.fl-builder-edit:not(.bb-ui-enhancements) .fl-builder-bar-title-icon img.xray {
  display: none;
}
body.fl-builder-edit:not(.bb-ui-enhancements) .fl-builder-ui-enhancements svg #rowsolid, body.fl-builder-edit:not(.bb-ui-enhancements) .fl-builder-ui-enhancements svg #columnsolid, body.fl-builder-edit:not(.bb-ui-enhancements) .fl-builder-ui-enhancements svg #modulesolid {
  fill: none;
}

body.fl-builder-edit.bb-ui-enhancements .fl-builder-bar-title-icon img.xray {
  display: block;
}
body.fl-builder-edit.bb-ui-enhancements .fl-builder-bar-title-icon img.default {
  display: none;
}
body.fl-builder-edit.bb-ui-enhancements .fl-builder-ui-enhancements svg #row, body.fl-builder-edit.bb-ui-enhancements .fl-builder-ui-enhancements svg #column, body.fl-builder-edit.bb-ui-enhancements .fl-builder-ui-enhancements svg #module, body.fl-builder-edit.bb-ui-enhancements .fl-builder-ui-enhancements svg #module {
  fill: none;
}
body.fl-builder-edit.bb-ui-enhancements .fl-builder-ui-enhancements svg #rowsolid {
  fill: var(--bbui-row-color);
}
body.fl-builder-edit.bb-ui-enhancements .fl-builder-ui-enhancements svg #columnsolid {
  fill: var(--bbui-column-color);
}
body.fl-builder-edit.bb-ui-enhancements .fl-builder-ui-enhancements svg #modulesolid {
  fill: var(--bbui-module-color);
}
body.fl-builder-edit.bb-ui-enhancements .wp-editor-area {
  /* Makes text editor monospace */
  font-family: "Courier New";
  font-size: 16px;
  line-height: 160% !important;
}
body.fl-builder-edit.bb-ui-enhancements .fl-col,
body.fl-builder-edit.bb-ui-enhancements .fl-col-content {
  /* Show column outlines when hovering columns */
  outline: var(--bbui-outline-width) dashed transparent;
  outline-offset: 0px;
  transition: all ease-in 0.2s;
}
body.fl-builder-edit.bb-ui-enhancements .fl-col:hover {
  /* Show column outlines when hovering columns */
  outline: var(--bbui-outline-width) dashed var(--bbui-column-color);
  outline-offset: -4px;
}
body.fl-builder-edit.bb-ui-enhancements .fl-col-group-nested .fl-col {
  /* Show column outlines when hovering columns */
  outline: none;
}
body.fl-builder-edit.bb-ui-enhancements .fl-col-group-nested .fl-col-content:hover {
  /* Show column outlines when hovering columns */
  outline: var(--bbui-outline-width) dotted var(--bbui-column-color);
  outline-offset: -6px;
}
body.fl-builder-edit.bb-ui-enhancements .fl-module-content {
  transition: opacity ease-in 0.2s;
}
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ div .fl-builder-content .fl-module,
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ header.fl-builder-content .fl-module,
body.fl-builder-edit.bb-ui-enhancements div.fl-responsive-preview-message:hover ~ .fl-responsive-preview-content .fl-module {
  position: relative;
}
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ div .fl-builder-content .fl-module:after,
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ header.fl-builder-content .fl-module:after,
body.fl-builder-edit.bb-ui-enhancements div.fl-responsive-preview-message:hover ~ .fl-responsive-preview-content .fl-module:after {
  /* colored overlay for modules*/
  content: " ";
  position: absolute;
  background-color: var(--bbui-module-bgcolor);
  width: calc(100% - 24px);
  height: calc(100% - 4px);
  top: 12px;
  left: 12px;
  /* outline for modules */
  outline: 2px dashed var(--bbui-module-color);
  outline-offset: 0px;
}
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ div .fl-builder-content .fl-module-content,
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ header.fl-builder-content .fl-module-content,
body.fl-builder-edit.bb-ui-enhancements div.fl-responsive-preview-message:hover ~ .fl-responsive-preview-content .fl-module-content {
  /* cloaks module contents */
  opacity: var(--bbui-module-hover-opacity);
}
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ div .fl-builder-content .fl-row-content-wrap,
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ div .fl-builder-content .fl-row-bg-overlay .fl-row-content-wrap:after,
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ header.fl-builder-content .fl-row-content-wrap,
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ header.fl-builder-content .fl-row-bg-overlay .fl-row-content-wrap:after,
body.fl-builder-edit.bb-ui-enhancements div.fl-responsive-preview-message:hover ~ .fl-responsive-preview-content .fl-row-content-wrap,
body.fl-builder-edit.bb-ui-enhancements div.fl-responsive-preview-message:hover ~ .fl-responsive-preview-content .fl-row-bg-overlay .fl-row-content-wrap:after {
  /* Show row/col outlines when hovering BB admin bar */
  outline: var(--bbui-outline-width) dashed var(--bbui-row-color);
  outline-offset: -4px;
}
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ div .fl-builder-content .fl-col,
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ header.fl-builder-content .fl-col,
body.fl-builder-edit.bb-ui-enhancements div.fl-responsive-preview-message:hover ~ .fl-responsive-preview-content .fl-col {
  /* outline for rows */
  outline: var(--bbui-outline-width) dashed var(--bbui-column-color);
  outline-offset: -8px;
}
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ div .fl-builder-content .fl-col-group-nested .fl-col,
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ header.fl-builder-content .fl-col-group-nested .fl-col,
body.fl-builder-edit.bb-ui-enhancements div.fl-responsive-preview-message:hover ~ .fl-responsive-preview-content .fl-col-group-nested .fl-col {
  /* dotted outline for nested cols */
  outline-style: dotted;
}
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ div .fl-builder-content .fl-col-group-nested .fl-col-highlight,
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ div .fl-builder-content .fl-col-highlight,
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ header.fl-builder-content .fl-col-group-nested .fl-col-highlight,
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ header.fl-builder-content .fl-col-highlight,
body.fl-builder-edit.bb-ui-enhancements div.fl-responsive-preview-message:hover ~ .fl-responsive-preview-content .fl-col-group-nested .fl-col-highlight,
body.fl-builder-edit.bb-ui-enhancements div.fl-responsive-preview-message:hover ~ .fl-responsive-preview-content .fl-col-highlight {
  outline-style: none;
  padding: 6px;
}
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ div .fl-builder-content .fl-col-highlight .fl-col-content,
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ header.fl-builder-content .fl-col-highlight .fl-col-content,
body.fl-builder-edit.bb-ui-enhancements div.fl-responsive-preview-message:hover ~ .fl-responsive-preview-content .fl-col-highlight .fl-col-content {
  /* empty col highlight bgcolor */
  background-color: var(--bbui-empty-col-highlight-bgcolor);
}
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ div .fl-builder-content .fl-col-has-cols,
body.fl-builder-edit.bb-ui-enhancements div.fl-builder-bar:hover ~ header.fl-builder-content .fl-col-has-cols,
body.fl-builder-edit.bb-ui-enhancements div.fl-responsive-preview-message:hover ~ .fl-responsive-preview-content .fl-col-has-cols {
  /* faded outline for nested col parents */
  padding: 5px;
  outline-color: var(--bbui-nested-col-parent-border-color);
}
body.fl-builder-edit.bb-ui-enhancements .fl-col-group-nested .fl-col-highlight-guide {
  border-style: none;
}
body.fl-builder-edit.bb-ui-enhancements .fl-col-group-nested .fl-col-highlight .fl-col-content {
  border-style: dotted !important;
}
body.fl-builder-edit.bb-ui-enhancements .fl-col-group-nested .fl-col {
  position: relative;
}
body.fl-builder-edit.bb-ui-enhancements .fl-col-group-nested .fl-col:hover .fl-col-content:before {
  font-family: "dashicons";
  content: "ï”‰";
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-weight: bold;
  font-size: 1.1em;
  color: var(--bbui-column-color);
  z-index: 10;
}
body.fl-builder-edit.bb-ui-enhancements .fl-col-has-cols {
  outline: var(--bbui-outline-width) dashed transparent;
  transition: all ease-in 0.2s;
  outline-offset: 4px;
}
body.fl-builder-edit.bb-ui-enhancements .fl-col-has-cols:hover {
  outline: var(--bbui-outline-width) dashed var(--bbui-nested-col-parent-border-color);
  outline-offset: -2px;
}
body.fl-builder-edit.bb-ui-enhancements .fl-module:hover .fl-module-overlay {
  margin: 2px;
}
body.fl-builder-edit.bb-ui-enhancements .fl-module-overlay:not(.fl-block-overlay-global),
body.fl-builder-edit.bb-ui-enhancements .fl-module-overlay:not(.fl-block-overlay-global) .fl-block-col-resize-handle,
body.fl-builder-edit.bb-ui-enhancements .fl-inline-editor {
  border: var(--bbui-outline-width) solid var(--bbui-module-color);
}
body.fl-builder-edit.bb-ui-enhancements .fl-module-overlay:not(.fl-block-overlay-global) .fl-block-overlay-actions,
body.fl-builder-edit.bb-ui-enhancements .fl-module-overlay:not(.fl-block-overlay-global) .fl-block-overlay-actions .fl-builder-submenu,
body.fl-builder-edit.bb-ui-enhancements .fl-inline-editor .mce-toolbar-grp {
  background-color: var(--bbui-module-color);
}
body.fl-builder-edit.bb-ui-enhancements .fl-module-overlay:not(.fl-block-overlay-global) .fl-block-overlay-actions .fl-builder-submenu li a:hover {
  /* overlay menu item hover */
  background-color: var(--bbui-module-color-hover);
}
body.fl-builder-edit.bb-ui-enhancements .fl-row-overlay .fl-block-overlay-actions .fl-builder-submenu li a:hover {
  /* row submenu item on hover  */
  background-color: var(--bbui-row-color-hover);
}
body.fl-builder-edit.bb-ui-enhancements .fl-row-overlay {
  border: var(--bbui-outline-width) solid var(--bbui-column-color);
}
body.fl-builder-edit.bb-ui-enhancements .fl-col .fl-col-group-nested .fl-col > .fl-col-overlay {
  border: var(--bbui-outline-width) solid var(--bbui-column-color);
}
body.fl-builder-edit.bb-ui-enhancements .fl-row-overlay .fl-block-overlay-actions,
body.fl-builder-edit.bb-ui-enhancements .fl-row-overlay .fl-block-overlay-actions .fl-builder-submenu {
  /* row background color */
  background-color: var(--bbui-row-color);
}
body.fl-builder-edit.bb-ui-enhancements .fl-row-overlay:not(.fl-block-overlay-global),
body.fl-builder-edit.bb-ui-enhancements .fl-row-overlay:not(.fl-block-overlay-global) .fl-block-col-resize-handle,
body.fl-builder-edit.bb-ui-enhancements .fl-inline-editor {
  /* row border color */
  border: var(--bbui-outline-width) solid var(--bbui-row-color);
}