$column-color       : #00A0D2;
$column-color-hover : #00A0D2;
$row-color          : #5fb238;
$row-color-hover    : #8ac171;
$module-color       : #d2005f;
$module-color-hover : #e05292;
$module-bgcolor     : #e0529230;
$empty-col-highlight-bgcolor: rgba(0, 160, 210, 0.1);
$nested-col-parent-border-color: rgba(0, 160, 210, 0.5);


/**
 * CSS BY Matt Eastwood
 * ----------------------
 */

 :root {
    --bbui-row-color                        : #{$row-color};
    --bbui-row-color-hover                  : #{$row-color-hover};
    --bbui-column-color                     : #{$column-color};
    --bbui-column-color-hover               : #{$column-color-hover};
    --bbui-module-color                     : #{$module-color};
    --bbui-module-color-hover               : #{$module-color-hover};
    --bbui-module-bgcolor                   : #{$module-bgcolor};
    --bbui-empty-col-highlight-bgcolor      : #{$empty-col-highlight-bgcolor};
    --bbui-nested-col-parent-border-color   : #{$nested-col-parent-border-color};
    --bbui-outline-width                    : 2px;
    --bbui-module-hover-opacity             : .4;
}

body.fl-builder-edit:not(.bb-ui-enhancements) {
    .fl-builder-bar-title-icon img.xray {
        display: none;
    }

    .fl-builder-ui-enhancements svg {
        #rowsolid, #columnsolid, #modulesolid {
            fill: none;
        }
    }
}

body.fl-builder-edit.bb-ui-enhancements {

    .fl-builder-bar-title-icon img {
        &.xray {
            display: block;
        }
        &.default {
            display: none;
        }
    }

    .fl-builder-ui-enhancements svg {
        #row,#column,#module, #module {
            fill: none;
        }
        #rowsolid {
            fill: var(--bbui-row-color);
        }
        #columnsolid {
            fill: var(--bbui-column-color);
        }
        #modulesolid {
            fill: var(--bbui-module-color);
        }
    }


    & .wp-editor-area {
        /* Makes text editor monospace */
        font-family: "Courier New";
        font-size: 16px;
        line-height: 160% !important;
    }

    .fl-col, 
    .fl-col-content { 
        /* Show column outlines when hovering columns */
        outline: var(--bbui-outline-width) dashed transparent; 
        outline-offset: 0px; 
        transition: all ease-in 0.2s; 
    }

    .fl-col:hover { 
        /* Show column outlines when hovering columns */
        outline: var(--bbui-outline-width) dashed var(--bbui-column-color);
        outline-offset: -4px; 
    }

    .fl-col-group-nested .fl-col { 
        /* Show column outlines when hovering columns */
        outline:none; 
    }

    .fl-col-group-nested .fl-col-content:hover {
        /* Show column outlines when hovering columns */ 
        outline: var(--bbui-outline-width) dotted var(--bbui-column-color);
        outline-offset: -6px; 
    }

    .fl-module-content {
        transition: opacity ease-in .2s;
    }

    div.fl-builder-bar:hover ~ div .fl-builder-content,
    div.fl-builder-bar:hover ~ header.fl-builder-content,
    div.fl-responsive-preview-message:hover ~ .fl-responsive-preview-content {

        .fl-module {
            position: relative;
            &:after {
                /* colored overlay for modules*/
                content: " ";
                position: absolute;
                background-color: var(--bbui-module-bgcolor);
                width: calc(100% - 24px);
                height: calc(100% - 4px);
                top: 12px;
                left: 12px;
                /* outline for modules */
                outline: 2px dashed var(--bbui-module-color);
                outline-offset: 0px;
            }
        }

        .fl-module-content {
            /* cloaks module contents */
            opacity: var(--bbui-module-hover-opacity);
        }

        .fl-row-content-wrap,
        .fl-row-bg-overlay .fl-row-content-wrap:after {
            /* Show row/col outlines when hovering BB admin bar */
            outline: var(--bbui-outline-width) dashed var(--bbui-row-color);
            outline-offset: -4px;
        }

        .fl-col {
            /* outline for rows */
            outline: var(--bbui-outline-width) dashed var(--bbui-column-color);
            outline-offset: -8px;
        }

        .fl-col-group-nested .fl-col {
            /* dotted outline for nested cols */
            outline-style: dotted;

        }

        .fl-col-group-nested .fl-col-highlight,
        .fl-col-highlight {
            outline-style: none;
            padding: 6px;
   
        }

        .fl-col-highlight .fl-col-content {
            /* empty col highlight bgcolor */
            background-color: var(--bbui-empty-col-highlight-bgcolor); 
        }

        .fl-col-has-cols {
            /* faded outline for nested col parents */
            padding: 5px;
            outline-color: var(--bbui-nested-col-parent-border-color);

        }
    }

    .fl-col-group-nested {

        .fl-col-highlight-guide { 
            border-style: none; 
        }
            
        .fl-col-highlight .fl-col-content
            { border-style: dotted !important; }
          
    
        .fl-col { position: relative; }
        .fl-col:hover .fl-col-content:before {
            font-family: "dashicons";
            content: '\f509';
            position: absolute;
            bottom: 10px;
            right: 15px;
            font-weight: bold;
            font-size: 1.1em;
            color: var(--bbui-column-color);
            z-index: 10;
        }
    

    }

   
    .fl-col-has-cols {
        outline: var(--bbui-outline-width) dashed transparent;
        transition: all ease-in 0.2s;
        outline-offset: 4px; 

        &:hover {
            outline: var(--bbui-outline-width) dashed var(--bbui-nested-col-parent-border-color);
            outline-offset: -2px; 
    
        }
    }

    .fl-module:hover .fl-module-overlay { 
        margin: 2px; 
    }
  
    .fl-module-overlay:not(.fl-block-overlay-global), 
    .fl-module-overlay:not(.fl-block-overlay-global) .fl-block-col-resize-handle,
    .fl-inline-editor { 
        border: var(--bbui-outline-width) solid var(--bbui-module-color); 
    }

    .fl-module-overlay:not(.fl-block-overlay-global) .fl-block-overlay-actions,
    .fl-module-overlay:not(.fl-block-overlay-global) .fl-block-overlay-actions .fl-builder-submenu,
    .fl-inline-editor .mce-toolbar-grp { 
        background-color: var(--bbui-module-color); 
    }

    .fl-module-overlay:not(.fl-block-overlay-global) .fl-block-overlay-actions .fl-builder-submenu li a:hover { 
        /* overlay menu item hover */
        background-color: var(--bbui-module-color-hover); 
    }

    .fl-row-overlay .fl-block-overlay-actions .fl-builder-submenu li a:hover { 
        /* row submenu item on hover  */
        background-color: var(--bbui-row-color-hover); 
    }

    .fl-row-overlay { 
        border: var(--bbui-outline-width) solid var(--bbui-column-color); 
    }

    .fl-col .fl-col-group-nested .fl-col > .fl-col-overlay {
        border: var(--bbui-outline-width) solid var(--bbui-column-color); 
    }

    .fl-row-overlay .fl-block-overlay-actions,
    .fl-row-overlay .fl-block-overlay-actions .fl-builder-submenu { 
        /* row background color */
        background-color: var(--bbui-row-color); 
    }

    .fl-row-overlay:not(.fl-block-overlay-global), 
    .fl-row-overlay:not(.fl-block-overlay-global) .fl-block-col-resize-handle,
    .fl-inline-editor { 
        /* row border color */
        border: var(--bbui-outline-width) solid var(--bbui-row-color); 
    }

}
